* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(45, 45, 45, 0.7), rgba(45, 45, 45, 0.7)), url('/assets/image/BG.png');
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 80px;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    position: relative;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    display: block;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #cfcc03;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

/* Dropdown CSS */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    border-radius: 8px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #555;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Content Styling */
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.paar {
    font-size: 90px;
    margin-top: 80px;
}

.par {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 25px;
}

button {
    width: 250px;
    padding: 17px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid #cfcc03;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span {
    background: #cfcc03;
    height: 100%;
    width: 0;
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}
